Repository nodejs/nodejs.org, pull requests merged in 2024-06, with the labels that each got.

#6772 Require TSC approval for stances
  GOVERNANCE.md
Labels: tsc-agenda

#6770 Add how-to guide for node's test runner
  i18n/locales/en.json
  navigation.json
  pages/en/learn/test-runner/introduction.md
  pages/en/learn/test-runner/using-test-runner.md
Labels: content

#6825 fix(content): re-add domain postmortem with a redirect
  pages/en/blog/community/domain-postmortem.md
  redirects.json
Labels: fast-track

#6834 Fix layout bug on hidden page
  pages/en/download/package-manager/all.md
Labels: fast-track

#6503 chore: add general portuguese to locale
  i18n/config.json
Labels: i18n

#6530 chore: Add Swedish locale in i18n config
  i18n/config.json
Labels: i18n

#6541 chore(i18n): add Mongolian locale in config
  i18n/config.json
Labels: i18n

#6563 chore: add Uzbek lang to locales
  i18n/config.json
Labels: i18n

#6512 chore: Setup i18n for general for Bengali language
  i18n/config.json
Labels: i18n

#6544 added greek language config
  i18n/config.json
Labels: i18n

#6580 Add Hebrew language config
  i18n/config.json
Labels: i18n

#6572 Added Hindi language
  i18n/config.json
Labels: i18n

#6531 chore: Translation setup for: Swedish, Finnish, Dutch and Hindi
  i18n/config.json
Labels: i18n

#6847 fix: do not translate OpenJS trademark
  components/Containers/Footer/index.tsx
  i18n/locales/en.json
  i18n/locales/fr.json
  i18n/locales/pt.json
  navigation.json
Labels: fast-track
